<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <%- include('./partials/head')%>
</head>

<body>

  <%- include('./partials/navigation')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="dispplay-1">About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste quas eos, modi perspiciatis molestiae aperiam
          optio quod blanditiis. Nisi nihil tenetur, voluptate quo tempora architecto iusto voluptas temporibus,
          perspiciatis repellendus impedit quod quis adipisci laborum corrupti hic explicabo rem aperiam fugit
          cupiditate obcaecati cumque est. Quod fuga architecto ipsam porro temporibus facere, non eligendi at
          reiciendis sunt consectetur similique deserunt, excepturi obcaecati. Obcaecati exercitationem quas tempore
          minus veniam iusto repellat velit autem at qui praesentium, quo quidem nam perferendis mollitia quae
          laudantium fuga et delectus tempora rem quisquam omnis. Blanditiis ducimus itaque, voluptate ipsam quas
          nostrum. Non dolorum vitae officiis ea quibusdam repellendus adipisci veritatis neque sapiente architecto
          obcaecati saepe ab eos eaque aperiam dicta accusamus libero sint quod vero blanditiis, quidem quae eligendi?
          Saepe, vitae molestias consequatur, quod repudiandae vel praesentium illo delectus nobis, eius hic tempore
          asperiores assumenda quas! Saepe error omnis numquam. Tempora nam sapiente voluptatum quidem at. Libero
          aliquid architecto sequi odio expedita. Molestiae numquam quia harum. Dicta debitis atque neque autem. Aut
          fugit deserunt laudantium tempore doloremque neque porro dignissimos, perspiciatis aliquam excepturi, possimus
          praesentium harum voluptatem est dolorem cupiditate quod! Nihil pariatur ea maiores ex molestiae natus
          eligendi enim nostrum incidunt rem? Pariatur, quasi.</p>
      </section>
    </main>
    <%- include('./partials/footer')%>
</body>

</html>